.itemBox {
  width: fit-content;
  padding: 0px 30px 30px;
  height: 45px;
  max-width: 100%;
  max-height: 100%;
  border: 1px solid #1d1f22;
  text-align: center;
  line-height: 45px;
  margin-right: 11px;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 5px;

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}
.itemBox:hover {
  background-color: lightgrey;
  color: black;
}
.itemBox.clicked {
  background-color: black;
  color: white;
  animation: buttonAnimation 0.4s ease forwards;
}
.itemBox__OnCartModal{
  width: 30px;
  min-width: fit-content;
  height: 30px;
  border: 1px solid #1d1f22;
  text-align: center;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: black;
  color: white;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}
@keyframes buttonAnimation {
  from {
    transform: scale(1) ;
  }
  to {
    transform: scale(1.1)  ;
  }
}
