.modal {
  position: fixed;
  top: 80px;
  left: 70%;
  background-color: white;
  padding: 1rem;
  z-index: 41;
  animation: openModal 0.9s;
}

.modal__currency {
  background-color: white;
  position: fixed;
  right: 130px;
  top: 60px;
  padding: 1rem 2rem;
  z-index: 41;
  box-shadow: 0.75rem 0.75rem 1rem 1rem #f5f0f0;
  animation: openModal 0.9s;
}

@keyframes openModal {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  50% {
    opacity: 1;
    transform: translateY(15%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}