.modal {
  position: fixed;
  width: 325px;
  left: 70%;
  top: 80px;
  background-color: white;
  padding: 1rem;
  z-index: 30;
  animation: openModal 0.9s;
 }

@keyframes openModal {
  0%{
    opacity: 0;
    transform: translateY(-100%);
  }
  50%{
    opacity: 1;
    transform: translateY(15%);
  }
  100%{
    opacity: 1;
    transform: translateY(0%);
  }
}