.button {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
}
.symbol {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #1d1f22;
}
.imgContainer {
  padding-left: 10px;
  padding-top: 5px;
}
.img {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.currency {
  font-family: Raleway;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 16px;
  line-height: 160%;
}
.currency:hover {
  background-color: black;
  color: white;
}
.currencyList {
  align-items: center;
  background-color: white;
  position: absolute;
  width: 114px;
  height: 169px;
  left: 1248px;
  top: 65px;
  box-shadow: 0.75rem 0.75rem 1rem 1rem #f5f0f0;
  display: grid;
  animation: openList 0.9s;
}
@keyframes openList {
  0%{
    opacity: 0;
    transform: translateY(-100%);
  }
  50%{
    opacity: 1;
    transform: translateY(15%);
  }
  100%{
    opacity: 1;
    transform: translateY(0%);
  }
}