.dropdown {
  padding-left: 101px;
  color: #1d1f22;
  cursor: pointer;
}
.title {
  font-family: Raleway;
  font-size: 42px;
  line-height: 160%;
  display: flex;
  align-items: center;
}
.list {
  width: 100%;
  min-height: 50px;
  max-height: 204px;
  background-color: transparent;
  text-align: center;
  animation: openList 0.5s;
}

.item {
  font-family: Raleway;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 22px;
  line-height: 160%;
  display: flex;
  align-items: center;
}
@keyframes openList {
  0%{
    opacity: 0;
    transform: translateY(-100%);
  }
  50%{
    opacity: 1;
    transform: translateY(15%);
  }
  100%{
    opacity: 1;
    transform: translateY(0%);
  }
}